* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inpu-group {
    width: clamp(90%, 90wv, 600px);
    position: relative;
}

#email-field {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 5px 2px;
    position: relative;
    z-index: 1;
}

#email-label {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: #777;
    font-size: 18px;
    transition: bottom 0.3s;
}

#email-error {
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 1rem;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}
